<!doctype html >
<!--[if lt IE 7]> <html  xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js lt-ie9 lt-ie8 lt-ie7 {{bp_html_classes|default('')}}" lang="{{bp_language|default('es')}}" {{bp_html_attributes|default('')|raw}}> <![endif]-->
<!--[if IE 7]>    <html  xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js lt-ie9 lt-ie8 {{bp_html_classes|default('')}}" lang="{{bp_language|default('es')}}" {{bp_html_attributes|default('')|raw}}> <![endif]-->
<!--[if IE 8]>    <html  xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js lt-ie9 {{bp_html_classes|default('')}}" lang="{{bp_language|default('es')}}" {{bp_html_attributes|default('')|raw}}> <![endif]-->
<!--[if gt IE 8]><!--> <html  xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js {{bp_html_classes|default('')}}" lang="{{bp_language|default('es')}}" {{bp_html_attributes|default('')|raw}}> <!--<![endif]-->
    <head {{bp_head_attributes|default('')|raw}}>
        <title>{% block chatea_title %}{% endblock %}</title>
    </head>
    <body>
        {% block chatea_body %}{% endblock %}
    </body>
</html>