{% trans_default_domain 'UserRegistration' %}

<form id="profileForm" class="form-horizontal" action="{{ path('chatea_client_update_profile_city' ) }}" {{ form_enctype(form) }} method="POST">
    {#{% if alerts is not null %}#}
        {#<div id="form-errors" class="alert alert-warning" data-behat="msg-warning">#}
            {#{{ alerts }}#}
        {#</div>#}
    {#{% endif %}#}
    {% if success is not null %}
        <div class="alert alert-success" data-behat="msg-success">
            {{ 'user.edit_city.success' | trans({}, 'UserChange') }}
        </div>
    {% endif %}
    <div id="form-errors" class="alert alert-danger" style="display: none">
    </div>
    {#{% if errors | length > 0 %}
    <div class="alert alert-danger">
        {{ form_errors(form) }}
    </div>
    {% endif %}#}

    <div class="form-group">
        <label class="col-lg-3 control-label" for="ountry">{{ "form.country" | trans }}</label>
        <div class="col-lg-9">
            <select class="form-control" id="form_search_country" name="country" data-city-finder="search_country">
                {% for country in countries %}
                    <option value="{{ country.value }}">{{ country.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="register_select_city" class="form-group" style="display: none ">
        <label class="col-lg-3 control-label" for="search_city" >{{ "form.city" | trans }}</label>
        <div class="col-lg-9">
            <input
                    id="registration_form_search_city"
                    type="text"
                    name="search_city"
                    class="form-control"
                    placeholder="{{ 'form.city.placeholder' | trans }}"
                    value="{{ city.name }}, {{ city.country }}"
                    data-city-finder="search_city" />
            <a id="suggestion_city" data-city-finder="suggestion_city">Los Angeles, United States</a>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-offset-10 col-sm-2">
            <input name="register" type="submit" class="btn btn-lg pull-right btn-primary" value="{{ 'registration_profile.submit'|trans }}" />
        </div>
    </div>
    {{ form_rest(form) }}
</form>