{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% trans_default_domain 'ResetPassword' %}

{% block chatea_title %}{{ 'reset-password.legend' | trans }}{% endblock %}

{% block chatea_body %}
    <h1>{{ 'reset-password.legend' | trans }}</h1>
    <form class="form-group" method="POST" action="{{ path('chatea_client_reset_password_perform') }}">
        <div class="form-group">
            {{ form_label(form.email, 'reset-password.email', {'translation_domain' : 'ResetPassword'}) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'required': true}}) }}
        </div>
        {{ form_widget(form._token) }}
        {{ form_rest(form) }}
        <input name="register" type="submit" class="btn btn-primary" value="{{ "reset-password.submit" | trans}}" />
    </form>
{% endblock %}