{% extends "ChateaClientBundle::layout.html.twig" %}
{% block body %}

<ul>
    <li>
        <a href="{{ path('antwebes_chateaclient_channel_add') }}">
        new channel
        </a>
    </li>
</ul>
    <form action="{{ path('antwebes_chateaclient_channel_show_all') }}" method="get" >
            {{ form_widget(filter_from) }}
        <p>
            <button class="boton" type="submit">Filter Channel</button>
        </p>
    </form>
<table border="1" >
      <thead>
          <tr>
              <th>Name</th>
              <th>Type</th>
              <th>action</th>
          </tr>
      </thead>
      <tbody>
        Total: {{ channelPager.size }} elemnts of: {{ channelPager.count }}
        <p> Total Pages: {{ channelPager.totalPages }}</p>
          {% for channel in channelPager.results %}
            <tr>
               <td style="width: 50%">
                   {{ channel.name }}
               </td>
                <td style="width: 30%">
                     {{  channel.channelType }}
                </td>
                <td>
                    <ul style="list-style-type:none; margin:0; padding:0">
                        <li style="display:inline;">[<a href="{{ channel.url }}" title="{{ channel.title }}">irc</a>]</li>
                        <li style="display:inline;">[<a href="{{ path('antwebes_chateaclient_channel_show', {'channel_id': channel.id}) }}" title="{{ channel.title }}">show</a>]</li>
                        <li style="display:inline;">[<a href="{{ path('antwebes_chateaclient_channel_edit', {'channel_id': channel.id}) }}" title="{{ channel.title }}">edit</a>]</li>
                        <li style="display:inline;">[<a href="{{ path('antwebes_chateaclient_channel_delete', {'channel_id': channel.id}) }}" title="{{ channel.title }}">delete</a>]</li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
      </tbody>
</table>
<table>
      <tbody>
        <tr>
            <td>
                [
            {% set firstPage = channelPager.firstPage %}
                <a href="{{ path('antwebes_chateaclient_channel_show_all',{'page': firstPage}) }}" title="firstPage">First Page</a>
                ]
            </td>
            <td>
                [
                {% set link_prev = channelPager.prev %}
                {% if link_prev %}
                <a href="{{ path('antwebes_chateaclient_channel_show_all',{'page': link_prev}) }}" title="Previous page">Previous</a>
                {% endif %}
                ]
             </td>
            {% set links = channelPager.links %}
            <td>
                [
                {% for link in links %}
                <a href="{{ path('antwebes_chateaclient_channel_show_all',{'page': link}) }}" title="Next page">{{ link }}</a> |
                {% endfor %}
                ]
            </td>
            <td>
                [
                {% set link_next = channelPager.next %}
                {% if link_next %}
                    <a href="{{ path('antwebes_chateaclient_channel_show_all',{'page': link_next}) }}" title="Next page">Next</a>
                {% endif %}
                ]
            </td>
            <td>
                [
                {% set lastPage = channelPager.lastPage %}
                <a href="{{ path('antwebes_chateaclient_channel_show_all',{'page': lastPage}) }}" title="lastPage">Last Page</a>
                ]
            </td>
        </tr>
      </tbody>
</table>
{% endblock %}