{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% trans_default_domain 'ChannelRegistration' %}

{% block chatea_title %}{{ 'register-channel.legend' | trans }}{% endblock %}

{% block chatea_body %}
    <h1>{{ 'register-channel.legend' | trans }}</h1>
    <form action="{{ path('chatea_client_register_channel') }}" {{ form_enctype(form) }} method="POST">
        {% if from_has_error  %}
            <div class="alert alert-danger">
                {{ form_errors(form) }}
            </div>
        {% endif %}
        <div class="form-group">
            {{ form_label(form.name, 'form.name.label',{'label_attr': {'class': 'col-lg-3 control-label'}, 'translation_domain' : 'ChannelRegistration'}) }}
            <div class="col-lg-9">
                {{ form_errors(form.name , {'translation_domain' : 'ChannelRegistration'}) }}
                {{ form_widget(form.name,{'attr': {'class': 'form-control', 'placeholder':'form.name.placeholder', 'data-id':'channel_name'}, 'translation_domain' : 'ChannelRegistration' } ) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.ircChannel,'form.irc_channel.label',{ 'label_attr': {'class': 'col-lg-3 control-label'}, 'translation_domain' : 'ChannelRegistration'}) }}
            <div class="col-lg-9">
                {{ form_errors(form.ircChannel , {'translation_domain' : 'ChannelRegistration'}) }}
                {{ form_widget(form.ircChannel,{'attr': {'class': 'form-control', 'placeholder':'form.irc_channel.placeholder', 'data-id':'channel_irc_channel'}, 'translation_domain' : 'ChannelRegistration' } ) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.language,'form.language.label',{ 'label_attr': {'class': 'col-lg-3 control-label'}, 'translation_domain' : 'ChannelRegistration'}) }}
            <div class="col-lg-9">
                {{ form_errors(form.language , {'translation_domain' : 'ChannelRegistration'}) }}
                {{ form_widget(form.language,{'attr': {'class': 'form-control'}, 'translation_domain' : 'ChannelRegistration' } ) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.channel_type,'form.channel_type.label',{ 'label_attr': {'class': 'col-lg-3 control-label'}, 'translation_domain' : 'ChannelRegistration'}) }}
            <div class="col-lg-9">
                {{ form_errors(form.channel_type , {'translation_domain' : 'ChannelRegistration'}) }}
                {{ form_widget(form.channel_type,{'attr': {'class': 'form-control'}, 'translation_domain' : 'ChannelRegistration' } ) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.description,'form.description.label',{ 'label_attr': {'class': 'col-lg-3 control-label'}, 'translation_domain' : 'ChannelRegistration'}) }}
            <div class="col-lg-9">
                {{ form_errors(form.description , {'translation_domain' : 'ChannelRegistration'}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder':'form.description.placeholder'}, 'translation_domain' : 'ChannelRegistration' } ) }}
            </div>
        </div>
        {{ form_widget(form._token) }}
        {{ form_rest(form) }}
        <div class="form-group">&nbsp;</div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input name="register" type="submit" class="btn btn-lg pull-right btn-primary" value="{{ 'registration.submit'|trans }}" />
            </div>
        </div>
    </form>
{% endblock %}

{% block chatea_js %}
    { parent() }}
    {% javascripts  '@ChateaClientBundle/Resources/public/js/jquery.stringToSlug.min.js'
                    '@ChateaClientBundle/Resources/public/js/channelSlug.js' %}
    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
{% endblock %}