{% trans_default_domain 'User' %}

<div class="row">
    {% for channel in channels | slice(0, wellcomeChannelsLimit) %}
        <div class="col-lg-4">
            <a href="{{ boilerplate_channels_base_url }}/{{ channel.slug }}?autologin={{ app.user.accessToken }}" target="_blank">
                <div>
                    {% if channel.photo %}
                        <img src="{{ channel.photo.pathIcon }}" class="avatar avatar-50 photo" width="50" height="50" title="{{ channel.name }}">
                    {% else %}
                        {% image '@ChateaClientBundle/Resources/public/images/no-photo-chatroom-icon.jpg'  output="images/no-photo-chatroom-icon.jpg" %}
                        <img src="{{ asset_url }}">
                        {% endimage %}
                    {% endif %}
                </div>
                <div>
                    <div>
                        {{ channel.name }}
                    </div>
                </div>
            </a>
        </div>
    {% else %}
        <div class="col-lg-12">{{ 'user.wellcome.no_channels' | trans }}</div>
    {% endfor %}
</div>

{% if channels | length > 0 %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ view_all_channels_url }}" target="_blank">{{ 'user.wellcome.view_all_channels' | trans }}</a>
        </div>
    </div>
{% endif %}