{% extends 'ChateaClientBundle::mainLayout.html.twig' %}

{% trans_default_domain 'UserRegistration' %}

{% block chatea_title %}{{ 'user.register.confirm' | trans }}{% endblock %}

{% block chatea_body %}
    <h1>{{ 'user.register.confirm' | trans }}</h1>
    <style>
        .left {
            float: left;
            position: relative;
        }

        .width100 {
            width: 100% !important;
        }

        .m-t-40 {
            margin-top: 40px;
        }

        .m-b-15 {
            margin-bottom: 15px;
        }
        .text_title {
            color: #222;
            font-family: Georgia;
            font-size: 2em;
            font-style: italic;
        }
        .txt-header-h4 {
            color: #666666;
            font-family: Georgia;
            font-size: 16px;
            font-style: italic;
            line-height: 25px;
        }

    </style>

    {% block chatea_confirm_need_confirmation %}
        <div class="width100 left m-b-15">

            <div class="row">
                <div style="width:38.2%" class="left"><hr class="hr-style m-t-20"></div>
                <div style="width:23.5%" class="left">
                    <center><span class="text_title">{{ "user.register.confirm_need" | trans }}</span></center>
                </div>
                <div style="width:38.2%" class="left"><hr class="hr-style m-t-20"></div>
            </div>
            <center>
                <span class="txt-header-h4"><p>{{"user.register.we_sent_you_mail" |trans}}
                    </p>
                    <p>
                        {{ "user.register.click_to_confirm" | trans }}
                    </p>
                    <p>
                        {% trans with {'%path%': path('chatea_client_user_settings'), '%title%' : 'change_email'|trans } %}user.register.change_password{% endtrans %}
                    </p>
                    <p>
                        {{ "user.register.if_you_dont_confirm" | trans }}
                    </p>
            </center>
        </div>
    {% endblock %}

    {% block chatea_confirm_where_is_my_mail %}
        <div class="width100 left m-b-15 m-t-40">

            <div class="row">
                <div style="width:40.2%" class="left"><hr class="hr-style m-t-20"></div>
                <div style="width:19.5%" class="left">
                    <center><span class="text_title">{{ "user.register.where_is_my_email" | trans}}</span></center>
                </div>
                <div style="width:40.2%" class="left"><hr class="hr-style m-t-20"></div>
            </div>
            <center><span class="txt-header-h4">{{ "user.register.we_sent_you_verification_mail" |trans }}<br/>
                    {{ "user.register.mail_not_in_inbox"  | trans }}
                    <br/>

                    <div class="col-lg-offset-4 col-lg-4 col-xs-12">
                        <form role="form" id="form-resend-confirmation-email">
                            <div class="form-group">
                                <label for="inputEmailResend">{{ "user.register.your_mail" | trans }}</label>
                                <input type="email" class="form-control" id="inputEmailResend" placeholder="{{ "user.register.write_your_mail" | trans }}" required="required">
                            </div>
                            <button type="submit" data-id="submit-confirm-email" class="btn btn-default">{{ "user.register.confirm.submit" | trans }}</button>
                        </form>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-xs-12 text-left" id="succes-resend-confirmation-email"></div>
                    </div>

                    </span></center>
        </div>
    {% endblock %}

    {% block chatea_confirm_need_help %}
        <div class="width100 left m-b-15 m-t-40">

            <div class="row">
                <div style="width:40.2%" class="left"><hr class="hr-style m-t-20"></div>
                <div style="width:19.5%" class="left">
                    <center><span class="text_title">{{ "user.register.i_need_help" | trans() }}</span></center>
                </div>
                <div style="width:40.2%" class="left"><hr class="hr-style m-t-20"></div>
            </div>

            <div class="col-md-6 col-xs-12">
                <center><span class="txt-header-h4">
                    {{ "help.link_help" | trans({}, "help") }}
                        <br/>
                    {{ "help.or" | trans({}, "help") }}
                    <br/>
                        {{ "page_confirm_email.write_our_email" |trans }}
                </span></center>
            </div>


            <div class="col-md-6 col-xs-12">
                <center><span class="txt-header-h4">
                    <p>{{ "help.contact_social_networks" | trans({}, "help") }}</p>
                    <p>{{ "help.follow_us" | trans({}, "help") }} <b>Twitter</b>: @antweb. <a target="_blank" href="https://twitter.com/antwebsl"> {{ "help.click_here" | trans({}, "help") }}</a></p>
                </span></center>
            </div>

        </div>
    {% endblock %}
{% endblock %}

{% block chatea_js %}
    <script>
        window.api_endpoint = "{{ api_endpoint }}";
        window.token = "{{ userAccessToken }}";
        var messages = {
            success: '{{'user.register.we_sent_you_verification_mail' | trans }}',
            server_errors: {
                'The email is not linked with your account': '{{ 'user.confirm_email.not_owner_of_email' | trans }}',
                'Confirmation mail can only be requested once every 24 hours': '{{ 'user.confirm_email.already_requested' | trans }}'
            }
        };
    </script>
    {% javascripts
    '@ChateaClientBundle/Resources/public/js/resend-confirmation-email.js'
    %}
    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
{% endblock %}
