{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% trans_default_domain 'UserRegistration' %}

{% block chatea_title %}{{ 'user.edit_profile_photo' | trans }}{% endblock %}
{% block chatea_meta_description %}{% endblock %}
{% block chatea_meta_keywords %}{% endblock %}

{% block chatea_body %}
    <h1>{{ 'user.edit_profile_photo' | trans }}</h1>

    <ol class="breadcrumb">
        <li><a href="{{ path('chatea_client_update_profile_index') }}">{{ 'user.change_profile' | trans }}</a></li>
        <li class="active">{{ 'user.edit_profile_photo' | trans }}</li>
    </ol>

    <div class="col-xs-12">
        <form id="profileForm" class="form-horizontal" method="POST">
            <div id="uploadSuccess" class="alert alert-success" style="display:none">
                {{ 'user.edit_profile_photo.success' | trans }}
            </div>
            <br/>
            <div class="alert alert-info">
                <strong>Info!</strong> {% trans from "UserRegistration" %}upload.pictures.alert.sexual_content{% endtrans %}
            </div>
            <div class="well form-group">
                <div class="col-lg-9 btn btn-large">
                    {{ form_errors(form.image) }}
                    {{ form_widget(form.image) }}
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="form-group row">
                <div class="col-sm-offset-10 col-sm-2">
                	<button id="send-file" name="register" type="submit" style="display: none" class="btn btn-lg pull-right btn-primary">
	                    <i id="icon_register" class=""></i>
						{{ 'registration_profile.submit'|trans }}
	                </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block chatea_js %}
    {{ parent() }}
	{% include "ChateaClientBundle:User:show_hide_button_upload_photo_js.html.twig" %}
{% endblock %}