{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% trans_default_domain 'UserRegistration' %}

{% block chatea_title %}{{ 'user.edit_profile' | trans }}{% endblock %}
{% block chatea_meta_description %}{% endblock %}
{% block chatea_meta_keywords %}{% endblock %}

{% block chatea_body %}
    {% if problem is not null %}
        <div class="alert alert-warning" role="alert">{{ problem | trans }}</div>
    {% endif %}

    <h1>{{ 'user.edit_profile' | trans }}</h1>

    <ol class="breadcrumb">
        <li><a href="{{ path('chatea_client_update_profile_index') }}">{{ 'user.change_profile' | trans }}</a></li>
        <li class="active">{{ 'user.edit_profile' | trans }}</li>
    </ol>

    <div class="col-xs-12">
    	{% include "ChateaClientBundle:User:Profile/form.html.twig" %}
    </div>
{% endblock %}
