{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% trans_default_domain 'UserRegistration' %}

{% block chatea_title %}{{ 'user.edit_city' | trans({}, 'UserChange') }}{% endblock %}
{% block chatea_meta_description %}{% endblock %}
{% block chatea_meta_keywords %}{% endblock %}

{% block chatea_body %}
    {#{% if problem is not null %}
        <div class="alert alert-warning" role="alert">{{ problem | trans }}</div>
    {% endif %}#}

    <h1>{{ 'user.edit_city' | trans({}, 'UserChange') }}</h1>

    <ol class="breadcrumb">
        <li><a href="{{ path('chatea_client_update_profile_index') }}">{{ 'user.change_profile' | trans }}</a></li>
        <li class="active">{{ 'user.edit_city' | trans({}, 'UserChange') }}</li>
    </ol>

    <div class="col-xs-12">
    	{% include "ChateaClientBundle:User:Profile/form_city.html.twig" %}
    </div>
{% endblock %}

{% block chatea_css %}
    {{ parent() }}
    {% stylesheets
    "@ChateaClientBundle/Resources/public/css/jquery-ui-1.10.3.custom.min.css"
    %}
    <link href="{{ asset(asset_url) }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock chatea_css %}

{% block chatea_js %}
    <script>
        window.api_endpoint = "{{ api_endpoint }}";
        window.language = "{{ app.request.locale }}";
    </script>
    {% javascripts
    '@ChateaClientBundle/Resources/public/js/jquery-ui-1.10.3.custom.min.js'
    '@ChateaClientBundle/Resources/public/js/cities.js'
    %}
    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    {% include "ChateaClientBundle:User:Profile/_editcityscript.html.twig" %}
{% endblock %}