{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% trans_default_domain 'UserRegistration' %}

{% block chatea_title %}{{ 'user.edit_profile_photo' | trans }}{% endblock %}
{% block chatea_meta_description %}{% endblock %}
{% block chatea_meta_keywords %}{% endblock %}

{% block chatea_body %}
    <h1 data-behat="title-update-photo-profile">{{ 'user.edit_profile_photo' | trans }}</h1>

    <ol class="breadcrumb">
        <li><a href="{{ path('chatea_client_update_profile_index') }}">{{ 'user.change_profile' | trans }}</a></li>
        <li class="active">{{ 'user.edit_profile_photo' | trans }}</li>
    </ol>

<style>
        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            background: red;
            cursor: inherit;
            display: block;
        }
        input[readonly] {
            background-color: white !important;
            cursor: text !important;
        }
    </style>
    <div class="col-xs-12">
        <form id="profileForm" class="form-horizontal" method="POST">
            <div id="uploadSuccess" class="alert alert-success" style="display:none">
                {{ 'user.edit_profile_photo.success' | trans }} <br />
                <strong>Info!</strong> {{ 'user.edit_profile_photo.can_take_time_refresh' | trans }}
            </div>
            <div id="upload-widget" class="form-group">
                <div class="col-xs-8 col-xs-offset-2">
                    {{ form_errors(form.image) }}

                    <div class="alert alert-info">
                        <strong>Info!</strong> {% trans from "UserRegistration" %}upload.pictures.alert.sexual_content{% endtrans %}
                    </div>
                    <span class="file-input btn btn-block btn-default btn-file btn-subtext">
                        {% if user.profilePhoto %}
                            <img src="{{ user | userProfilePhotoUrl("medium") }}" class="avatar avatar-150 photo" width="150" height="150" alt="{{ 'profile_picture_of' | trans({},'PrettyBundle') }} {{ user.username }}" />
                        {% else %}
                            <i class="fa fa-upload" style="font-size: 10em"></i>
                        {% endif %}
                        <h3>Haz click para subir una foto&hellip;</h3> {{ form_widget(form.image) }}
                        <span id="filename"></span>
                    </span>


                </div>
            </div>
            {{ form_rest(form) }}
            <div class="form-group row">
                <div class="col-xs-8 col-xs-offset-2">
                    <span id="upload-error" class="text-danger"></span>
                    <br /><br />
                	<button id="send-file" name="register" type="submit" style="display: none" class="btn btn-block pull-right btn-primary">
						{{ 'registration_profile.submit'|trans }}
	                </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block chatea_js %}
    {{ parent() }}
	{% include "ChateaClientBundle:User:show_hide_button_upload_photo_js.html.twig" %}
{% endblock %}