{% extends "ChateaClientBundle::layout.html.twig" %}
{% block body %}
<ul>
    <li>
        <a href="{{ path('antwebes_chateaclient_user_add') }}">
            new User
        </a>
    </li>
    {% for user in users %}
     <li>
         <h3>Name: {{ user.username }}</h3>
         <ul>
             <li>[<a href="{{ path('antwebes_chateaclient_user_show', {'user_id': user.id}) }}" title="Show {{ user.username }}">show</a>]</li>
             <li>[<a href="{{ path('antwebes_chateaclient_user_edit', {'user_id': user.id}) }}" title="Edit {{ user.username }}">edit</a>]</li>
             <li>[<a href="{{ path('antwebes_chateaclient_user_delete', {'user_id': user.id}) }}" title="Delete {{ user.username }}">delete</a>]</li>
         </ul>
     </li>
    {% endfor %}
</ul>
{% endblock %}