{% extends 'ChateaClientBundle::mainLayout.html.twig' %}

{% trans_default_domain 'UserRegistration' %}

{% block chatea_title %}{{ 'user.register' | trans }}{% endblock %}

{% block chatea_body %}
    <h2>{{ 'register.success.title' | trans }}</h2>
    <h3>{{ 'register.success.action' | trans }}</h3>
    <i class="icon-mail" style="font-size: 25em;"></i>
    <p data-behat="register-success">{{ 'user.register.success' | trans }}</p>
    {% if app.request.get('photoUploaded') == 1 %}
        <div id="uploadSuccess" class="alert alert-warning text-center">
            <strong>{{ "atention_capital" | trans({}, 'messages') }}</strong> {{ 'user.edit_profile_photo.can_take_time_refresh' | trans({}, "UserRegistration") }}
        </div>
    {% endif %}
{% endblock %}
