{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% trans_default_domain 'UserChange' %}

{% block chatea_title %}{{ 'user.change_password' | trans }}{% endblock %}

{% block chatea_body %}
    <h1>{{ 'user.change_password' | trans }}</h1>
    <div class="col-xs-12">
        <form action="{{ path('chatea_client_user_settings') }}" {{ form_enctype(form) }} method="POST">
            {% if errors | length > 0 %}
                <div class="alert alert-danger">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label(form.currentPassword) }}
                <div class="col-lg-9">
                    {{ form_errors(form.currentPassword) }}
                    {{ form_widget(form.currentPassword, {'attr': {'class': 'form-control', 'placeholder': 'form.old_password.placeholder'}, 'translation_domain' : 'UserChange' }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.first) }}
                <div class="col-lg-9">
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'form.new_password.placeholder'}, 'translation_domain' : 'UserChange' }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.second) }}
                <div class="col-lg-9">
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'form.repeat_password.placeholder'}, 'translation_domain' : 'UserChange' }) }}
                </div>
            </div>

            {{ form_widget(form._token) }}
            {{ form_rest(form) }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input name="register" type="submit" class="btn btn-lg pull-right btn-primary" value="{{ 'change_user.submit'|trans }}" />
                </div>
            </div>
        </form>
    </div>

    <h1>{{ 'user.change_email' | trans }}</h1>
    <div class="col-xs-12">
        <form action="{{ path('chatea_client_user_settings') }}" {{ form_enctype(formEmail) }} method="POST">
            {% if errors | length > 0 %}
                <div class="alert alert-danger">
                    {{ form_errors(formEmail) }}
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label(formEmail.password) }}
                <div class="col-lg-9">
                    {{ form_errors(formEmail.password) }}
                    {{ form_widget(formEmail.password, {'attr': {'class': 'form-control', 'placeholder': 'form.password.placeholder'}, 'translation_domain' : 'UserChange' }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(formEmail.email.first) }}
                <div class="col-lg-9">
                    {{ form_errors(formEmail.email) }}
                    {{ form_errors(formEmail.email.first) }}
                    {{ form_widget(formEmail.email.first, {'attr': {'class': 'form-control', 'placeholder': 'form.email.placeholder', 'data-id': 'form_email'}, 'translation_domain' : 'UserChange' }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(formEmail.email.second) }}
                <div class="col-lg-9">
                    <span data-id="email-mismatch-error" class="help-block"></span>
                    {{ form_errors(formEmail.email.second) }}
                    {{ form_widget(formEmail.email.second, {'attr': {'class': 'form-control', 'placeholder': 'form.email.placeholder' , 'data-id': 'form_email_second'}, 'translation_domain' : 'UserChange' }) }}
                </div>
            </div>

            {{ form_rest(formEmail) }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input name="register" type="submit" class="btn btn-lg pull-right btn-primary" value="{{ 'change_user.submit'|trans }}" />
                </div>
            </div>
        </form>
    </div>

    <h1>{{ 'user.delete_me' | trans }}</h1>
    <div class="col-xs-12">
        <p>{{ 'user.delete_me_inform' | trans }}</p>
        <a href="{{ path('chatea_user_delete_me') }}" class="btn btn-lg btn-primary">{{ 'user.delete_me' | trans }}</a>
    </div>
    <p></p>
{% endblock %}


{% block chatea_js %}
    {% javascripts
        '@ChateaClientBundle/Resources/public/js/jquery-ui-1.10.3.custom.min.js'
        '@ChateaClientBundle/Resources/public/js/userNickSuggestions.js'
    %}
    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    <script>
        var messages = {
            emails_not_mismatch: '{{ 'form.email.mismatch' | trans }}'
        };

        $(document).ready(function(){
            checkEmailsMismatch(messages);
        });
    </script>
{% endblock %}