{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% trans_default_domain 'User' %}

{% block chatea_title %}{{ 'user.wellcome' | trans({'%username%': app.user.username}) }}{% endblock %}

{% set user_channels_url = boilerplate_users_base_url ~ '/'  ~ app.user.id  %}

{% block chatea_body %}
	<h1>{{ 'user.wellcome' | trans({'%username%': app.user.username}) }}</h1>

	{% if visitors | length > 0 %}
		<h3>{{ "user.wellcome.last_visitis" | trans }}</h3>
		<div class="row">
			{% for visitor in visitors %}
				{% include "ChateaClientBundle:User:_userBoilerWidget.html.twig" with {'user': visitor} %}
			{% else %}
				<div class="col-lg-12">{{ 'user.wellcome.no_visits' | trans }}</div>
				<div class="col-lg-12">
					<a href="{{ boilerplate_endpoint }}/perfil?autologin={{ app.user.accessToken }}" target="_blank">{{ 'user.edit_profile' | trans({}, 'UserChange') }}</a>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% if userMe.city %}
		<h3>{{ 'user.wellcome.people_near_city' | trans({ '%cityname%': userMe.city.getCountry(app.request.attributes.get('_locale')) }) }}</h3>
		<div class="row">
			{% for user in usersCountry %}
				{% include "ChateaClientBundle:User:_userBoilerWidget.html.twig" with {'user': user} %}
			{% endfor %}
		</div>
		<br />
		<a href="{{ boilerplate_users_base_url }}/?advanced_search[country]={{ country.code }}&advanced_search[gender]=&autologin={{ app.user.accessToken }}" target="_blank">Ver m&aacute;s</a>
	{% endif %}

	{% if userMe.channelsFan | length > 0 %}
		<h3>{{ 'user.wellcome.enter_channels_fan' | trans }}</h3>
		{% include "ChateaClientBundle:User:_channelsList.html.twig" with {'channels': userMe.channelsFan, 'view_all_channels_url': user_channels_url ~ '/canales/fan?autologin=' ~ app.user.accessToken, 'wellcomeChannelsLimit': wellcomeChannelsLimit } %}
	{% else %}
		<h3>{{ 'user.wellcome.become_fan_of_channel' | trans }}</h3>
		{{ 'user.wellcome.become_fan_of_channel.text' | trans }}.
		<a href="{{ boilerplate_channels_base_url }}/lista/?autologin={{ app.user.accessToken }}" target="_blank">
			{{ 'user.wellcome.become_fan_of_channel.browse' | trans }}
		</a>.
	{% endif %}

	{% if userMe.channels | length > 0 %}
		<h3>{{ 'user.wellcome.enter_channels_owner' | trans }}</h3>
		{% include "ChateaClientBundle:User:_channelsList.html.twig" with {'channels': userMe.channels, 'view_all_channels_url': user_channels_url ~ '/canales/owner?autologin=' ~ app.user.accessToken, 'wellcomeChannelsLimit': wellcomeChannelsLimit } %}
	{% endif %}

	{% if userMe.channelsModerated | length > 0 %}
		<h3>{{ 'user.wellcome.enter_channels_moderator' | trans }}</h3>
		{% include "ChateaClientBundle:User:_channelsList.html.twig" with {'channels': userMe.channelsModerated, 'view_all_channels_url': user_channels_url ~ '/canales/moderator?autologin=' ~ app.user.accessToken, 'wellcomeChannelsLimit': wellcomeChannelsLimit } %}
	{% endif %}
	<br />

	{% include "ChateaClientBundle:User:_wellcome_footer.html.twig" %}
{% endblock chatea_body %}