<div class="{% if size_col is defined %}{{ size_col }}{% else %}col-lg-4{% endif %}">
    <a href="{{ boilerplate_users_base_url }}/{{ user.username }}-{{ user.id }}?autologin={{ app.user.accessToken }}" target="_blank" title="{{ user.username }}">
        <div>
            {% if user.profilePhoto %}
                <img class="pull-left thumbnail" src="{{ user | userProfilePhotoUrl("icon") }}" height="50" title="{{ user.username }}">
            {% else %}
                {% image '@ChateaClientBundle/Resources/public/images/no-photo-icon.png'  output="images/no-photo-icon.jpg" %}
                <img class="pull-left thumbnail" src="{{ asset_url }}">
                {% endimage %}
            {% endif %}
        </div>
        <div>
            <p>{{ user.username }}</p>
        </div>
    </a>
	{% if user.getCity() %}<p>{{ user.getCity().getCountry('es') }}, {{ user.getCity().getName('es') }}</p>{% endif %}
</div>